@page "/"

<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the ConfectionCountry distribution or repository for the
full text of the license.
-->

@if (!_game.Started)
{
    <GameSetup Game="@_game" OnStartGame="@((autoPlay) => { _autoPlay = (bool)autoPlay; _game.Start(); })" />
}
else if (!_game.Accepted)
{
    <GameUI Game="@_game" AutoPlay="@_autoPlay" />
}
else
{
    <div>Hello.</div>
}

@code
{
private Game _game = new Game();

private bool _autoPlay = false;
}