<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the ConfectionCountry distribution or repository for the
full text of the license.
-->
<div class="cardNameContainer">
    <div class="cardName">@ChildContent</div>
</div>

@code {
    [Parameter] RenderFragment ChildContent { get; set; }
}
