@inherits LayoutComponentBase
<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the ConfectionCountry distribution or repository for the
full text of the license.
-->

<div class="cardSquareContainerContainer  @(IsDouble ? "double" : "")">
    <div class="cardSquareContainer">
        <div class="cardSquare @(Util.GetColorClass(Type))">
            @ChildContent
        </div>
    </div>
</div>

@code {
        [Parameter] public SpaceType Type { get; set; }
        [Parameter] public RenderFragment ChildContent { get; set; }
        [Parameter] public bool IsDouble { get; set; }
}
