@inherits LayoutComponentBase
<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the ConfectionCountry distribution or repository for the
full text of the license.
-->

<div class="cardPileContainerContainer">
    <div class="cardPileContainer">
        <button id="@ButtonId" @onclick="HandleClick" class="cardPile btn btn-outline-primary">@ChildContent</button>
    </div>
</div>

@code {
[Parameter] public string ButtonId { get; set; }
[Parameter] public EventCallback OnClick { get; set; }
[Parameter] public RenderFragment ChildContent { get; set; }

public void HandleClick()
{
    OnClick.InvokeAsync(null);
    StateHasChanged();
}
}
