<div class="defaultWidthContainer @(OuterClass ?? "")">
    <div class="defaultWidth @(InnerClass ?? "")">@ChildContent</div>
</div>
@code {
[Parameter] public RenderFragment ChildContent { get; set; }
[Parameter] public string OuterClass { get; set; }
[Parameter] public string InnerClass { get; set; }
}
