<div class="defaultWidthContainer @(OuterClass ?? "")">
    <div class="defaultWidth @(InnerClass ?? "")">@ChildContent</div>
</div>
@code {
[Parameter] RenderFragment ChildContent { get; set; }
[Parameter] string OuterClass { get; set; }
[Parameter] string InnerClass { get; set; }
}
